
:root {
  --aero-bg: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmsfn.org%2Fboard%2Fuploads%2Fpost-385423-0-61567900-1390053212.png&f=1&nofb=1&ipt=e7392349aba1b7dc1f73b7a71bd3d6dc2233a645567bc4d77a44631d223320c6&ipo=images');
  --aero-login-bg: url('https://img.wallpapersafari.com/desktop/1024/576/24/42/3LWMcO.jpg');
  --cursor-spinner: url('http://www.rw-designer.com/cursor-view/14456.png');
  --window-border: 2px solid grey;

  --wallpaper: url('https://wallpapercave.com/wp/Wn3Dygb.jpg');
  --wallpaper-size: cover;
  --wallpaper-position: center;
  --wallpaper-repeat: repeat;
  --wallpaper-fallback-colour: black;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-image: var(--wallpaper);
  background-size: var(--wallpaper-size);
  background-position: var(--wallpaper-position);
  background-repeat: var(--wallpaper-repeat);
  background-color: var(--wallpaper-fallback-colour);
  min-height: 100vh;
  margin: 0;
  perspective: 1000px;
  overflow: hidden;
}

.center_text {
  text-align: center;
}

#login {
  animation-duration: 1s;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-image: var(--aero-login-bg);
  background-color: #2075ac;
  background-size: cover;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 20px;
  text-shadow: 1px 0 6px black;
}

@keyframes login_fadein {
  0% {opacity: 100%}
  100% {opacity: 0%}
}

.window {
  position: absolute;
  z-index: 9;
  border: 1px solid black;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 0 5px 5px 5px;
  background-color: rgba(123, 201, 240, 0.384);
  background-image: var(--aero-bg);
  background-size: 200vw;
  font-size: 15px;
  display: none;
  flex-direction: column;
}

.window.windowmaximised {
  top: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  padding: 0;
  transition-duration: 0.1s;
  transition-property: top, left;
  border-radius: 0;
}

.pop_out {
  animation: pop_out 0.15s;
  display: none;
}

.pop_in {
	animation-direction: reverse;
}

@keyframes pop_out {
	0% {transform: scale(0.9) rotateX(5deg)}
}

.focuswindow {
  box-shadow: 0 0 12px 2px black;
}

.windowtitle {
  padding: 0 2px 5px 5px;
  z-index: 10;
  color: #fff;
  text-align: left;
  border-radius: 10px 10px 0 0;
  color: black;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.windowtitle>span {
	text-shadow: 0 0 10px white,0 0 15px white,0 0 15px white,0 0 15px white, 0 0 15px white;
    vertical-align: middle;
    margin-top: 5px;
    display: inline-block;
}

.windowtitle img {
	height: 25px;
	float:left;
	padding-right: 5px;
}

button {
  transition: 0.15s ease;
  border-radius: 3px;
  border-color: lightgrey;
}

button:active {
  border-color: lightgrey;
  background-color: lightgrey;
}

a {
  color: #2075ac;
}

ul {
  list-style-type: none;
  margin-left: 15px;
}

.dialog {
  text-align: right;
}

.desktopicon {
	background: none;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 2px;
	margin: 20px;
	transition: none;
}

.desktopicon:hover {
	border: 1px solid rgba(230, 250, 255, 0.6);
	background-color: rgba(200, 220, 255, 0.5);
}

.desktopicon:focus {
	border: 1px solid rgba(230, 250, 255, 0.6);
	background-color: rgba(200, 220, 255, 0.7);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.desktopicon img {
	width: 70px;
}

.desktopicon span {
	display: block;
	color: white;
	font-weight: 400;
	text-shadow: 0 2px 4px black, 0 2px 4px black, 0 2px 4px black;
	font-size: 15px;
}

.dialogbutton {
  width: 83px;
  height: 20px;
  padding: 0;
  color: black;
  background: linear-gradient(0deg, rgba(169,209,233,1) 0%, rgba(196,230,245,1) 49%, rgba(238,245,251,1) 59%, rgba(248,252,255,1) 100%);
  
}

.dialogbutton:hover, .dialogbutton:focus {
  box-shadow: 0 0 0 2px #20b5cc;
  box-sizing: border-box;
}

.dialogbutton:hover {
  box-shadow: 0 0 0 2px #20b5cc;
}

.dialogbutton:focus {
  border: 1.5px dotted black;
}

.windowbutton {
  border: 1px solid rgb(124, 124, 124);
  border-top: none;
  width: 56px;
  height: 22px;
  padding: 0;
  color: white;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 2px white;
  font-weight: 1000;
  border-radius: 0 0 5px 5px;
  background: none;
}

.focuswindow .windowbutton:hover {
  box-shadow: 0 0 6px 3px rgb(96, 175, 248);
}

.focuswindow .windowbutton {
  /* https://win7simu.visnalize.com/ */
  background: linear-gradient(hsla(0,0%,100%,.3),hsla(0,0%,100%,.3) 45%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 70%,hsla(0,0%,100%,.5));
}

.windowmain {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;

  border: var(--window-border);
  background-color: white;

  font-size: 13px;
  font-weight: 500;

  overflow: hidden;
}

.windowmain img {
	max-width: 100%;
}

.resizer {
  position: absolute;
}

.windowmaximised .resizer {
  display: none;
}

.resizer_br {
  right: -5px;
  bottom: -5px;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}

.closebutton {
  background: none;
}

.focuswindow .closebutton {
  background:linear-gradient(0deg, rgba(222,135,107,1) 0%, rgba(201,60,15,1) 15%, rgba(180,87,58,1) 49%, rgba(228,133,119,1) 59%, rgba(238,170,161,1) 78%, rgba(254,229,226,1) 100%),radial-gradient(circle, rgba(254,229,226,0.34495805158000703) 0%, rgba(238,170,161,0.3841737378545168) 34%, rgba(180,87,58,0.38137261740633754) 95%);
}

.focuswindow .closebutton:hover {
  box-shadow: 0 0 6px 3px #f66;
}

hr {
	color: lightgrey;
}

/* Window Type Specific */

.windowmain textarea {
  flex-grow: 1;
  resize: none;
}

.window_aboutwindows > .windowmain > div {
  padding: 15px;
}

.window_aboutwindows > .windowmain img {
  width: 65%;
}

.window_aboutwindows .window_about_edition {
  font-size: 30px;
}

.window_aboutwindows p {
  padding-left: 40px;
  padding-right: 40px;
}

.window_internetexplorer .windowmain {
  flex-direction: column;
  background: none;
  border: none;
}

.window_windowsexplorer_main {
  width: 100%;
}

.window_internetexplorer .windowmain div, .window_windowsexplorer .window_windowsexplorer_navbar {
  display: flex;
  padding: 0 5px 5px 0;
}

.window_windowsexplorer_dirlist {
  display: flex;
  flex-direction: column;
}

.window_windowsexplorer_dirlist button {
  
}

.window_internetexplorer input, .window_windowsexplorer_navbar input {
  flex-grow: 1;
  border-radius: 0;
}

.window_internetexplorer_spinner {
  background-image: var(--cursor-spinner);
  background-position: center;
  background-size:170%;
  height: 25px;
  width: 25px;
  float: right;
}

.window_internetexplorer iframe {
  flex-grow: 1;
  border: none;
  border: var(--window-border);
  background-color: white;
}

.not_responding {
  cursor: wait;
  transition: 0.7s;
  filter:contrast(0.2) brightness(1.5);
}