
body {
  font-family: "Segoe UI", sans-serif;
  background-image: url('https://wallpapercave.com/wp/Wn3Dygb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  perspective: 1000px;
}

#login {
  animation-duration: 1s;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-image: url('https://img.wallpapersafari.com/desktop/1024/576/24/42/3LWMcO.jpg');
  background-color: #2075ac;
  background-size: cover;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 20px;
  text-shadow: 1px 0 6px black;
}

@keyframes login_fadein {
  0% {opacity: 100%}
  100% {opacity: 0%}
}

.window {
  position: absolute;
  z-index: 9;
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 0 5px 5px 5px;
  background-color: rgba(153, 220, 253, 0.2);
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmsfn.org%2Fboard%2Fuploads%2Fpost-385423-0-61567900-1390053212.png&f=1&nofb=1&ipt=e7392349aba1b7dc1f73b7a71bd3d6dc2233a645567bc4d77a44631d223320c6&ipo=images');
  font-size: 15px;
  display: none;
}

.pop_out {
  animation: pop_out 0.15s;
}

.pop_in {
	animation-direction: reverse;
}

@keyframes pop_out {
	0% {transform: scale(0.9) rotateX(5deg)}
}

.window:focus-within {
    box-shadow: 0 0 12px 2px black;
}

.windowtitle {
  padding: 0 2px 5px 5px;
  z-index: 10;
  color: #fff;
  text-align: left;
  border-radius: 10px 10px 0 0;
  color: black;
  user-select: none;
}

.windowtitle>span {
	text-shadow: 0 0 10px white,0 0 10px white,0 0 10px white,0 0 10px white, 0 0 10px white,0 0 10px white,0 0 10px white;
    vertical-align: middle;
    margin-top: 5px;
    display: inline-block;
}

.windowtitle img {
	height: 25px;
	float:left;
	padding-right: 5px;
}

button {
  transition: 0.15s ease;
  border-radius: 3px;
}

a {
  color: #2075ac;
}

ul {
  list-style-type: none;
  margin-left: 15px;
}

.dialog {
  text-align: right;
}

.desktopicon {
	background: none;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 2px;
	margin: 20px;
	transition: none;
}

.desktopicon:hover {
	border: 1px solid rgba(230, 250, 255, 0.6);
	background-color: rgba(200, 220, 255, 0.5);
}

.desktopicon:focus {
	border: 1px solid rgba(230, 250, 255, 0.6);
	background-color: rgba(200, 220, 255, 0.7);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.desktopicon img {
	width: 70px;
}

.desktopicon span {
	display: block;
	color: white;
	font-weight: 400;
	text-shadow: 0 2px 4px black, 0 2px 4px black, 0 2px 4px black;
	font-size: 15px;
}

.dialogbutton {
  width: 83px;
  height: 20px;
  padding: 0;
  color: black;
  background: linear-gradient(0deg, rgba(169,209,233,1) 0%, rgba(196,230,245,1) 49%, rgba(238,245,251,1) 59%, rgba(248,252,255,1) 100%);
}

.dialogbutton:hover, .dialogbutton:focus {
  box-shadow: 0 0 0 2px #20b5cc;
}

.dialogbutton:hover {
  box-shadow: 0 0 0 2px #20b5cc;
}

.dialogbutton:focus {
  border: 1.5px dotted black;
}

.windowbutton {
  float: right;
  margin: 0;
  border: 1px solid black;
  box-shadow: 0 1px 0 white;
  width: 56px;
  height: 22px;
  padding: 0;
  color: white;
  text-shadow: 0 0 2px black;
  font-weight: 1000;
  border-radius: 0 0 5px 5px;
}

.windowmain {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;

  border: 2px solid grey;
  background-color: white;

  font-size: 13px;
  font-weight: 500;
  overflow: scroll;
}

.windowmain iframe, .windowmain textarea {
    width: 100%;
    min-width: inherit;
    min-height: inherit;
}

.browser .windowmain {
    display: grid;
}

#window_about p {
	padding-left: 40px;
    padding-right: 40px;
}

.windowmain img {
	max-width: 100%;
}

.closebutton {
  background:linear-gradient(0deg, rgba(222,135,107,1) 0%, rgba(201,60,15,1) 15%, rgba(180,87,58,1) 49%, rgba(228,133,119,1) 59%, rgba(238,170,161,1) 78%, rgba(254,229,226,1) 100%),radial-gradient(circle, rgba(254,229,226,0.34495805158000703) 0%, rgba(238,170,161,0.3841737378545168) 34%, rgba(180,87,58,0.38137261740633754) 95%);
}

.closebutton:hover {
  box-shadow: 0 0 6px 3px #f66;
}

hr {
	color: lightgrey;
}